{% extends 'account/base.html' %}
{% load crispy_forms_tags %}

{% block title-meta %} Add Article {% endblock %}

{% block title %} Article Create {% endblock %}

{% block main %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input name="old_password" placeholder="Old Password" class="form-control" type="password"><br>
    {% for error in form.old_password.errors %}
        <p style="color: blue;">{{ error }}</p>
    {% endfor %}
    <input name="new_password1" placeholder="New Password" class="form-control" type="password"><br>
    {% for error in form.new_password1.errors %}
        <p style="color: blue;">{{ error }}</p>
    {% endfor %}
    <input name="new_password2" placeholder="Confirm Password" class="form-control" type="password"><br>
    {% for error in form.new_password2.errors %}
        <p style="color: blue;">{{ error }}</p>
    {% endfor %}
    <button type="submit" class="btn btn-outline-danger">Change</button>
</form>
{% endblock %}