{% extends 'base/base.html' %}
{% load comment_tags %} 

{% block title %} Article Detail {% endblock %}

{% block content %}
<header class="masthead" style="background-image: url('{{ article.image.url }}')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>{{ article.title }}</h1>
          <h5>visit_count: {{ article.visit_count.count }}</h5>
          {% if article.is_special %}
          <span class="badge badge-danger" style="font-size: 14px;">Special*</span>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% if article.is_special %}
        {% if user.is_authenticated and user.is_special_user or user == article.author or user.is_superuser %}
        {{ article.description|linebreaks }}
        {% else %}
        {{ article.description|truncatewords:27 }}
        <p class="alert alert-warning" style="text-align: center;">this post is special, you cant see this article<br>
          you must be a <a href="#" class="alert-link">special_user</a></p>
        {% endif %}
        {% else %}
        {{ article.description|linebreaks }}
        {% endif %}
        
        {% render_comments article request %}
        {% include_bootstrap %}
      </div>
    </div>
  </div>
</article>

<hr>
{% endblock %}